.headerCont{
    padding-top: 60px;
    width: 100%;
    min-height: 100vh;
    background-image:url('../../assets/vector.svg'), url('../../assets/player.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 110% 74%, 68% 60%;

}