.link{
    text-decoration: none;
    color: black;
}
.navbarBtn{border-radius: 20px; text-transform:none;color: black;}
.navbarCart{color: gray;font-size: 26px;}

// .navbarBtn .MuiTouchRipple-root span{
//     background-color: #787878;
//     opacity: 0.3;
// }