.SearchCont{padding: 3rem;}
.searchGroup{
    *{border: none; }
    border: 1px solid #24DC89;
    background-color: white;
    max-width: 600px;
    height: 57px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    .searchBtn{
        border-radius: 0 30px 30px 0;
        flex-basis:150px ;
        height: 100%;
        // outline: 1px solid #24DC89;
    }
    .datePicker{
        border-left:1px solid #24DC89;
        
    }
    @media (max-width:600px) {
        border-radius: 10px;
        flex-direction: column;
        height: 170px;
        .searchField{width: 100%;border-bottom:1px solid #24DC89;}
        .searchBtn{width: 100%;height:fit-content;border-radius: 0 0 10px 10px;}
        .datePicker{border-left: none;width: 100%;border-bottom:1px solid #24DC89;}

    }

}
.searchWrapper{
    margin-top: 8vw;
    text-align: center;
    h1{
        margin-bottom: 2rem;
        @media (max-width:600px) {
            font-size: 1.7rem;
        }
    }
    

}